{{ define "main" }}
<div class="container">
  <section class="bento-main">{{ .Content }}</section>
  {{$posts := where site.RegularPages "Type" "posts"}} {{ range $k, $v := $posts
  | first 3}}
  <section class="bento-recent bento-recent-post-{{ $k }}">
    <div>
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      <small>From {{ .PublishDate.Format "Jan 01, 2006" }}</small>
      <p>{{ .Summary }}..</p>
    </div>
  </section>
  {{end}}
  <div class="bento-recent bento-about">
    <h2><a href="/about">About</a></h2>
  </div>
  <div class="bento-recent bento-categories">
    <h2>Categories:</h2>
    <ul>
      <li>Category One</li>
      <li>Category Two</li>
    </ul>
  </div>
</div>
{{ end }}
