{{ define "main" }}
  <style>
    body {
      background-color: #3498db;
    }
  </style>
  <div class="list-description">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </div>
  <div class="list">
    {{ range .Pages }}
      {{ $featuredImage := .Params.featuredImage }}
      {{ if $featuredImage }}
        <div class="card featured-image-post">
          <div
            class="post-image"
            style="
            flex: 1;
            min-height: 350px;
            align-self: stretch; 
           background-image: linear-gradient(
              rgba(238, 238, 238, 1) 0%,
              rgba(238, 238, 238, 0) 35%,
              rgba(238, 238, 238, 0) 65%,
              rgba(52, 152, 219, 1) 100%
            ), url('{{ .RelPermalink }}/{{ $featuredImage }}');
            border-radius: 1em;
            background-position: center left;
            background-size: cover;"
          ></div>
          <div class="post-info">
            {{ partial "list-meta.html" . }}
          </div>
        </div>
      {{ else }}
        <div class="card">
          <div class="post-info">
            {{ partial "list-meta.html" . }}
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
