$primary-color: #00b894;
$primary-dark-color: #007965;
$secondary-color: #ffb142;
$secondary-dark-color: #c87900;
$default-color: #ffffff;
$default-dark-color: #f2f2f2;
$muted-color: #eeeeee;
$muted-dark-color: #dddddd;
$warning-color: #f39c12;
$danger-color: #e74c3c;
$splash-color: #3498db;
$splash-dark-color: #2980b9;
$text-color: #333333;
$background-color: #f2f2f2;
$visited-link-color: #9b59b6;
$hover-color: #2980b9;

@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "fugaz";
  src: url("../fonts/FugazOne-Regular.ttf") format("truetype");
}
